body{
    font-family: 'Raleway', sans-serif;ont
}
h1{
    text-decoration: underline;
}
li{
    font-weight: 300;
}
.heading{
    text-shadow: 1px 1px #999;
    text-transform: uppercase;
}
.note{
    font-weight: 700;
    font-style: italic;
}
.todo-item{
    text-decoration: line-through;
}