:root {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-decoration: underline;
}

li {
    font-weight: 300;
}

.heading {
    text-shadow: 1.5px 1.5px grey;
    text-transform: uppercase;
}

.note {
    font-weight: 700;
    font-style: italic;
}

.todo-item {
    text-decoration: line-through;
}